<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/templates/default/components/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/templates/default/css/login.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <fieldset>
        <form class="form-signin" th:action="@{/login}" method="post">

            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <h2 class="form-signin-heading">Please login</h2>

            <label> User Name: <input class="form-control" type="text" id="username" name="username"
                                      autofocus="autofocus"/> </label>
            <label> Password: <input class="form-control" type="password" id="password" name="password"/> </label>
            <button id="#button-login" type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
        </form>
    </fieldset>
</div>
</body>
</html>